


.body-container-main{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    
}

.body-container{
    display: flex; 
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}